<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>f2e 前端构建工具</title>
    <style>
    body, div, dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6, pre, code,form, fieldset, legend, input,button,textarea, p, blockquote, th, td {margin:0;padding:0; } 
	li{list-style:none;}
	i,em{font-style: normal;}
	img{border:none; vertical-align:top; } 
	a{text-decoration:none;}
	a:hover{text-decoration:none;}
	table{border-collapse:collapse;}
	input,area{ outline:none } 
	
	body{ font: 18px/30px "微软雅黑"; background-color: #fafafa; }
    form { width:750px; margin:2rem auto; border: 1px solid #d8d8d8;  border-radius: 3px;}
    form>div{ border-bottom: 1px solid #d8d8d8;  padding: 1rem;}
    h4{ margin-bottom: 0.3rem;}
    
    input[type="button"]{background:no-repeat; cursor: pointer;  background:#eee; border: 1px solid #d8d8d8; color: #000000;  display:inline-block; padding:0.25rem 1rem;  border-radius: 3px;}
    input[type="button"]:hover{background:#eee; border:1px solid rgba(0, 0, 0, 0.2);}
    
    .btn_box>input{margin-right:0.5rem ;}
    #builder{ font-weight: bold; background: #FFFFFF;}
    #path{ width: 100%; padding: 0.2rem; box-sizing: border-box; }
    #mb_yes,#type_yes{ background:#FFFFFF; border-color:#c00; color:#c00;}
    </style>
</head>
<body>
<form action="#" method="post">
	<div>
		<h4>项目类别：</h4>
		<% for(var i=0; i<ItemType.length; i++){%>
			<em><%= ItemType[i].name %>：</em>
			<p class="btn_boxs">
				<% for(var j=0; j<ItemType[i].list.length; j++){%>
					<input type="button" name="<%= ItemType[i].list[j].path %>" id="" value="<%= ItemType[i].list[j].name %>" />
				<% }%>
			</p>
		<% }%>
	</div>
    <div>
        <h4>创建位置：</h4>
		<i>注意：这里是"/",【白眼windows】</i>
        <input type="text" name="" id="path" value="" />
    </div>
    <div>
        <h4>模版：</h4>
        <p class="btn_box">
			<%for(var i=0; i<template.length; i++){%>
				<input type="button" name="<%= template[i].mb_id %>" id="" value="<%= template[i].name %>" />
			<%}%>
        </p>
    </div>
    
    <div>
	    <input type="button" name="" id="builder" value="创建项目" />
    </div>
</form>

<script>
!function(){
	!function(){function Ajax(o){this.data={"url":"","type":"POST","dataType":"json","data":"","encode":false,"async":true,"success":function(e){},"err":function(e){},"initFn":function(_this){}};for(var i in o){this.data[i]=o[i]}if(this.data.url===""){return}this.fn={"jsonof":function(obj){var isjson=typeof(obj)=="object"&&Object.prototype.toString.call(obj).toLowerCase()=="[object object]"&&!obj.length;return isjson},"setUrlK":function setUrlK(ojson,encode){var s="",name,key;for(var p in ojson){if(ojson.hasOwnProperty(p)){name=p}key=ojson[p];var value=null;if(encode){s+="&"+name+"="+encodeURI(encodeURI((typeof key=="object"?JSON.stringify(key):key)))}else{s+="&"+name+"="+encodeURI((typeof key=="object"?JSON.stringify(key):key))}}return s.substring(1,s.length)}};this.go_data="";if(this.data.data&&(this.fn.jsonof(this.data.data)||typeof this.data.data==="string")){if(this.fn.jsonof(this.data.data)){this.go_data=this.fn.setUrlK(this.data.data,this.data.encode)}else{this.go_data=this.data.data}}else{return}this.init()}Ajax.prototype.init=function(){this.data.initFn(this);var _this=this;this.oAjax=window.XMLHttpRequest?new XMLHttpRequest():new ActiveXObject("Microsoft.XMLHTTP");if(this.data.type.toUpperCase()==="GET"){if(this.go_data){this.oAjax.open(this.data.type,this.data.url+"?"+this.go_data,this.data.async)}else{this.oAjax.open(this.data.type,this.data.url,this.data.async)}}if(this.data.type.toUpperCase()==="POST"){this.oAjax.open(this.data.type,this.data.url,this.data.async);this.oAjax.setRequestHeader("Content-type","application/x-www-form-urlencoded; charset=utf-8")}this.oAjax.send(this.data.type.toUpperCase()==="GET"?null:this.go_data);this.oAjax.onreadystatechange=function(){_this.changefn()}};Ajax.prototype.changefn=function(){if(this.oAjax.readyState===4){this.statusCode=this.oAjax.status;if(this.statusCode===200){this.data.success(JSON.parse(this.oAjax.responseText))}else{this.data.err(this.statusCode)}}};window.Ajax=Ajax}();if(typeof(module)!=="undefined"){module.exports=window.Ajax}else{if(typeof define==="function"&&define.amd){define([],function(){return window.Ajax})}};
	
	function $(s){return document.querySelector(s)}
	function _$(s){return document.querySelectorAll(s)}
	let mbbtnBox = _$(".btn_box");
	let pathbtnBoxs = _$(".btn_boxs");
	let path = $("#path");

	mbbtnBox.forEach((items,index)=>{
		items.addEventListener('click', (ev)=>{
			let _this = ev.target;
			if(_this.nodeName === "INPUT"){
				if($("#mb_yes"))$("#mb_yes").id = "";
				_this.id = "mb_yes";
			}
		})
	})

	pathbtnBoxs.forEach((items,index)=>{
		items.addEventListener('click', (ev)=>{
			let _this = ev.target;
			if(_this.nodeName === "INPUT"){
				if($("#type_yes"))$("#type_yes").id = "";
				_this.id = "type_yes";
			}
		})
	})
	

	$("#builder").onclick = ()=>{
		let jData={}

		if(!$("#type_yes")){
			alert("滚粗！再瞅瞅项目类型");
			return;
		}
		jData.type= $("#type_yes").name;

		if(!path.value){
			alert("滚粗！你这是要创建空气吗？输入项目名称");
			return;
		}
		jData.path = path.value;

		if(!$("#mb_yes")){
			alert("滚粗！关于模版...");
			return;
		}
		jData.mold = $("#mb_yes").name;

		new Ajax({
			"url":"./get",
			"data":jData,
			initFn:(_this)=>{
				console.log(_this.go_data)
			},
			"success":function(e){
				console.log(e)
			}
		})

	}
}()
</script>
</body>
</html>