<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=750,target-densitydpi=device-dpi,user-scalable=no">
  <title>f2e 前端构建工具</title>
	<style>
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,   p,blockquote,th,td {margin: 0;padding: 0;}i,em {font-style: normal;}input,area {outline: none}body {font: 16px/30px "arial,sans-serif";background-color: #f8f8f8;}.panel {width: 750px;margin: 1rem auto;box-sizing: border-box;padding: 1rem;border: 1px solid #d8d8d8;background-color: #FFFFFF;border-radius: 3px;}.panel>div {border-bottom: 1px solid #d8d8d8;padding: 0.5rem 0;}h4 {margin-bottom: 0.3rem;}a {color: #000;}a:hover {color: #42b983;}.panel>a {margin-right: 2rem;font-size: 14px;}i {font: 14px/25px "arial,sans-serif";color: #c00}input[type="button"] {cursor: pointer;background: #eee;border: 1px solid #d8d8d8;color: #000000;display: inline-block;padding: 0.25rem 1rem;border-radius: 3px;}input[type="button"]:hover {border: 1px solid rgba(0, 0, 0, 0.2);}em {font-weight: bold;}.panel em {display: inline-block;width: 50px;}.btn_box>input {margin-right: 0.5rem;}.btn_boxs {display: inline;}#builder {font-weight: bold;width: 100px;height: 30px;color: #FFFFFF;margin: 1rem 2rem 0 0;background: #42b983;}#path {width: 100%;padding: 0.2rem;box-sizing: border-box;height: 30px}#mb_yes,#type_yes {background: #FFFFFF;border-color: #42b983;color: #42b983;}.rk a {margin-right: 2rem;}

  </style>
</head>
<body>
<form class="panel">
	<!-- 仓库 -->
	<div>
		<h4>项目仓库：</h4>
		<% for(var i=0; i<ItemType.length; i++){%>
			<p class="btn_boxs">
				<em><%= ItemType[i].name %>：</em>
				<% for(var j=0; j<ItemType[i].list.length; j++){%>
					<input  id="" type="button" data-changkupath="<%= ItemType[i].list[j].path %>" data-changkuid="<%= ItemType[i].id %>" value="<%= ItemType[i].list[j].name %>"
					/>
				<% }%>
			</p><br/>
		<% }%>
	</div>
    <div>
        <h4>创建位置：</h4>
        <input type="text" name="" id="path" value="" />
    </div>

    <!-- 模版 -->
    <div>
        <h4>模版：</h4>
        <p class="btn_box">
			<%for(var i=0; i<template.length; i++){%>
				<input type="button" id="" data-mbid="<%= template[i].mb_id %>" value="<%= template[i].name %>"
				/>
			<%}%>
        </p>
    </div>
	<input type="button" name="" id="builder" value="创建项目" /> <span  id="gourl"></span>
</form>

<div class="panel rk">
	<h4>项目仓库入口：</h4>
	<% for(var i=0; i<ItemType.length; i++){%>
		<div>
		<em><%= ItemType[i].name %>：</em>
			<% for(var j=0; j<ItemType[i].list.length; j++){%>
			<a class="" href="<%= ItemType[i].name %>/<%= ItemType[i].list[j].name %>"><%= ItemType[i].list[j].name %>: <%= ItemType[i].list[j].path %></a>
			<% }%>
		</div>
	<% }%>
</div>
<script>
!function(){function Ajax(o){this.data={"url":"","type":"POST","dataType":"json","data":"","encode":false,"async":true,"initFn":function(_this){},"success":function(e){},"err":function(e){}};for(var i in o){this.data[i]=o[i]}if(this.data.url===""){return}this.fn={"jsonof":function(obj){var isjson=typeof(obj)=="object"&&Object.prototype.toString.call(obj).toLowerCase()=="[object object]"&&!obj.length;return isjson},"setUrlK":function setUrlK(ojson,encode){var s="",name,key;for(var p in ojson){if(ojson.hasOwnProperty(p)){name=p}key=ojson[p];var value=null;if(encode){s+="&"+name+"="+encodeURI(typeof key=="object"?JSON.stringify(key):key)}else{s+="&"+name+"="+encodeURI(typeof key=="object"?JSON.stringify(key):key)}}return s.substring(1,s.length)}};this.go_data="";if(this.data.data&&(this.fn.jsonof(this.data.data)||typeof this.data.data==="string")){if(this.fn.jsonof(this.data.data)){this.go_data=this.fn.setUrlK(this.data.data,this.data.encode)}else{this.go_data=this.data.data}}else{return}this.init()}Ajax.prototype.init=function(){this.data.initFn(this);var _this=this;this.oAjax=window.XMLHttpRequest?new XMLHttpRequest():new ActiveXObject("Microsoft.XMLHTTP");if(this.data.type.toUpperCase()==="GET"){if(this.go_data){this.oAjax.open(this.data.type,this.data.url+"?"+this.go_data,this.data.async)}else{this.oAjax.open(this.data.type,this.data.url,this.data.async)}}if(this.data.type.toUpperCase()==="POST"){this.oAjax.open(this.data.type,this.data.url,this.data.async);this.oAjax.setRequestHeader("Content-type","application/x-www-form-urlencoded; charset=utf-8")}this.oAjax.send(this.data.type.toUpperCase()==="GET"?null:this.go_data);this.oAjax.onreadystatechange=function(){_this.changefn()}};Ajax.prototype.changefn=function(){if(this.oAjax.readyState===4){this.statusCode=this.oAjax.status;if(this.statusCode===200){this.data.success(JSON.parse(this.oAjax.responseText))}else{this.data.err(this.statusCode)}}};window.Ajax=Ajax}();if(typeof(module)!=="undefined"){exports=window.Ajax}else{if(typeof define==="function"&&define.amd){define([],function(){return window.Ajax})}};




!function(){
	function $(s){return document.querySelector(s)}
	function _$(s){return document.querySelectorAll(s)}
	let mbbtnBox = _$(".btn_box");
	let pathbtnBoxs = _$(".btn_boxs");
	let path = $("#path");

	mbbtnBox.forEach((items,index)=>{
		items.addEventListener('click', (ev)=>{
			let _this = ev.target;
			if(_this.nodeName === "INPUT"){
				if($("#mb_yes"))$("#mb_yes").id = "";
				_this.id = "mb_yes";
			}
		})
	})

	pathbtnBoxs.forEach((items,index)=>{
		items.addEventListener('click', (ev)=>{
			let _this = ev.target;
			if(_this.nodeName === "INPUT"){
				if($("#type_yes"))$("#type_yes").id = "";
				_this.id = "type_yes";
			}
		})
	})


	$("#builder").onclick = ()=>{
		let jData={}
		if(!$("#type_yes")){
			alert("滚粗！再瞅瞅项目类型");
			return;
		}
		jData.changkupath= $("#type_yes").dataset.changkupath;
		// jData.changkuid= $("#type_yes").dataset.changkuid;

		if(!path.value){
			alert("滚粗！你这是要创建空气吗？输入项目名称");
			return;
		}
		jData.filepath = path.value;
		if(!$("#mb_yes")){
			alert("滚粗！关于模版...");
			return;
		}
		jData.mbid = $("#mb_yes").dataset.mbid;
		new Ajax({
			"url":"./builder",
			"data":jData,
			"success":function(e){
				console.log(e)
				if(e.state){
					$("#gourl").innerHTML =`yes: ${e.info} `
				}else{
					$("#gourl").innerHTML =`no: ${e.info}`
				}
			}
		})
	}
}()
</script>
</body>
</html>
