<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=750,target-densitydpi=device-dpi,user-scalable=no">
    <title>f2e 静态服务...</title>
	<style>
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,   p,blockquote,th,td {margin: 0;padding: 0;}i,em {font-style: normal;}input,area {outline: none}body {font: 16px/30px "arial,sans-serif";background-color: #f8f8f8;}.panel {width: 750px;margin: 1rem auto;box-sizing: border-box;padding: 1rem;border: 1px solid #d8d8d8;background-color: #FFFFFF;border-radius: 3px;}.panel>div {border-bottom: 1px solid #d8d8d8;padding: 0.5rem 0;}h4 {margin-bottom: 0.3rem;}a {color: #000;}a:hover {color: #42b983;}.panel>a {margin-right: 2rem;font-size: 14px;}i {font: 14px/25px "arial,sans-serif";color: #c00}input[type="button"] {cursor: pointer;background: #eee;border: 1px solid #d8d8d8;color: #000000;display: inline-block;padding: 0.25rem 1rem;border-radius: 3px;}input[type="button"]:hover {border: 1px solid rgba(0, 0, 0, 0.2);}em {font-weight: bold;}.panel em {display: inline-block;width: 50px;}.btn_box>input {margin-right: 0.5rem;}.btn_boxs {display: inline;}#builder {font-weight: bold;width: 100px;height: 30px;color: #FFFFFF;margin: 1rem 2rem 0 0;background: #42b983;}#path {width: 100%;padding: 0.2rem;box-sizing: border-box;height: 30px}#mb_yes,#type_yes {background: #FFFFFF;border-color: #42b983;color: #42b983;}.rk a {margin-right: 2rem;}
	  	#auto_btn{background: #f0f0f0; box-sizing:border-box; padding:0.5rem; margin-top:2rem}
		#auto_btn span{ border: 1px solid #d8d8d8; cursor: pointer; border-radius: 3px;display: inline-block; padding: 0 1rem; background: #42b983;color: #FFFFFF; margin:0 5px }
		#auto_btn span.btno{background: #999!important;}

		.pane2 {width: 750px; margin: 1rem auto;box-sizing: border-box;padding: 0.5rem 1rem; color: #cb3837; font: 12px/14px 'arial,sans-serif'}

	</style>
</head>
<body>
	<div class="panel">
	<% if(err){ %>
		<%= err %>
	<% }else{ %>
		<% for(var j=0; j<data.data.length; j++){%>
			<% if(data.config){ %>
				<a href="<%= data.data[j] %>" target="_blank"><%= data.data[j] %></a>
			<% }else{ %>
				<a href="<%= data.data[j] %>"><%= data.data[j] %></a>
			<% } %>
		<% } %>
		<% if(data.config){ %>
			<div id="auto_btn" data-path="<%= data.path %>" data-config="<%= data.config %>"><span id="banyi_btn" >启动实时压缩编译</span><span id="vid_btn" >静态资源版本号添加</span></div>
		<% } %>
	<% } %>
	</div>
	<% if(data.config){ %>
		<ul class="pane2"></ul>
	<% } %>

	<script>
	!function(){function Ajax(o){this.data={"url":"","type":"POST","dataType":"json","data":"","encode":false,"async":true,"initFn":function(_this){},"success":function(e){},"err":function(e){}};for(var i in o){this.data[i]=o[i]}if(this.data.url===""){return}this.fn={"jsonof":function(obj){var isjson=typeof(obj)=="object"&&Object.prototype.toString.call(obj).toLowerCase()=="[object object]"&&!obj.length;return isjson},"setUrlK":function setUrlK(ojson,encode){var s="",name,key;for(var p in ojson){if(ojson.hasOwnProperty(p)){name=p}key=ojson[p];var value=null;if(encode){s+="&"+name+"="+encodeURI(typeof key=="object"?JSON.stringify(key):key)}else{s+="&"+name+"="+encodeURI(typeof key=="object"?JSON.stringify(key):key)}}return s.substring(1,s.length)}};this.go_data="";if(this.data.data&&(this.fn.jsonof(this.data.data)||typeof this.data.data==="string")){if(this.fn.jsonof(this.data.data)){this.go_data=this.fn.setUrlK(this.data.data,this.data.encode)}else{this.go_data=this.data.data}}else{return}this.init()}Ajax.prototype.init=function(){this.data.initFn(this);var _this=this;this.oAjax=window.XMLHttpRequest?new XMLHttpRequest():new ActiveXObject("Microsoft.XMLHTTP");if(this.data.type.toUpperCase()==="GET"){if(this.go_data){this.oAjax.open(this.data.type,this.data.url+"?"+this.go_data,this.data.async)}else{this.oAjax.open(this.data.type,this.data.url,this.data.async)}}if(this.data.type.toUpperCase()==="POST"){this.oAjax.open(this.data.type,this.data.url,this.data.async);this.oAjax.setRequestHeader("Content-type","application/x-www-form-urlencoded; charset=utf-8")}this.oAjax.send(this.data.type.toUpperCase()==="GET"?null:this.go_data);this.oAjax.onreadystatechange=function(){_this.changefn()}};Ajax.prototype.changefn=function(){if(this.oAjax.readyState===4){this.statusCode=this.oAjax.status;if(this.statusCode===200){this.data.success(JSON.parse(this.oAjax.responseText))}else{this.data.err(this.statusCode)}}};window.Ajax=Ajax}();if(typeof(module)!=="undefined"){exports=window.Ajax}else{if(typeof define==="function"&&define.amd){define([],function(){return window.Ajax})}};
	function $(s){return document.querySelector(s)}
	function _$(s){return document.querySelectorAll(s)}
	let autoBtn = $("#auto_btn");
	let banyiBtn = $("#banyi_btn");
	let vidBtn= $ ("#vid_btn");
	let pane2= $(".pane2");
	if(autoBtn)
	autoBtn.onclick=(ev)=>{
		let _this = ev.target;
		let postd ={config:null,path:null};

		try{
			postd.config=JSON.parse( autoBtn.dataset.config);
			postd.path = autoBtn.dataset.path;
		}catch(err){
			alert("检查当前目录下_.json格式是否存在错误后再次刷新")
		}

		if(_this.id === "banyi_btn"){
			console.log(autoBtn.dataset)
			new Ajax({
				"url":' http://localhost:9000/merge',
				"type":"POST",
				"data":postd,
				initFn:function(gofn){
		          _this.className="btno"
		          _this.id=""
		          _this.innerHTML="申请处理..."
				},
				success:function(res){
					console.log(res)
					if(res.state){
						_this.innerHTML="实时压缩编译中..."
					}else{
						_this.innerHTML="控制台查看错误信息"
					}
					pane2.innerHTML+="</li>实时压缩编译中</li>"
				}
			})
		}


		if(_this.id === "vid_btn"){
			console.log(autoBtn.dataset)
			new Ajax({
				"url":' http://localhost:9000/staticv',
				"type":"POST",
				"data":postd,
				initFn:function(gofn){
					_this.innerHTML="申请添加..."
				},
				success:function(res){
					if(res.state){
						_this.innerHTML="静态资源版本号添加"
					}else{
						_this.innerHTML="控制台查看错误,修改后再尝试"
					}
					console.log(res)

					pane2.innerHTML+=`<li>静态资源版本号添加成功：${res.info} </li>`
				}
			})
		}
	}
	</script>
</body>
</html>
