<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=750,target-densitydpi=device-dpi,user-scalable=no">
    <title>f2e 静态服务</title>
	<link rel="stylesheet" href="http://localhost:8000/staticfile/css.css">
	<style>
  	div#auto_btn{background: #f0f0f0; box-sizing:border-box; padding:0.5rem; margin-top:2rem}
	div#auto_btn>span{ border: 1px solid #d8d8d8; cursor: pointer; border-radius: 3px;display: inline-block; padding: 0 1rem; background: #42b983;color: #FFFFFF; margin:0 5px }
	</style>
</head>
<body>
	<div class="panel">
	<% if(err){ %>
		<%= err %>
	<% }else{ %>
		<% for(var j=0; j<data.data.length; j++){%>
			<a href="<%= data.data[j] %>"><%= data.data[j] %></a>
		<% } %>
		<% if(data.v){ %>
			<div id="auto_btn" data-path="<%= data.path %>" data-v="<%= data.v %>"><span id="banyi_btn" >启动实时编译</span><span>svn</span></div>
		<% } %>
	<% } %>
	</div>
	<script src="http://localhost:8000/staticfile/Ajax.js"></script>
	<script>
	function $(s){return document.querySelector(s)}
	function _$(s){return document.querySelectorAll(s)}
	let autoBtn = $("#auto_btn");
	let banyiBtn = $("#banyi_btn");
	banyiBtn

	autoBtn.onclick=(ev)=>{
		let _this = ev.target;
		let j ={v:null,path:null};
		try{
			j.v=JSON.parse( autoBtn.dataset.v);
			j.path = autoBtn.dataset.path;
		}catch(err){
			alert("检查当前目录下_.json格式是否存在错误后再次刷新")
		}
		if(_this.id === "banyi_btn"){
			console.log(autoBtn.dataset)
			new Ajax({
				"url":' http://localhost:8000/merge',
				type:"POST",
				"data":j,
				initFn:function(_this){
					console.log(_this.go_data)
				},
				success:function(res){
					console.log(res)
				}
			})
		}
	}
	</script>
</body>
</html>