<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
  	<title> myServ </title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/jquery.js"></script>
	<script src="/js/mian.js"></script>
	<style>
		.cbox{ overflow: hidden; }
		.cbox #submint{ float: right; }
	</style>
</head>
<body>
<form class="panel" id="form">
	<!-- 仓库 -->
	<div>
		<h4>项目仓库：</h4>
		<% for(var i=0; i<item_type.length; i++){%>
			<label for="<%= item_type[i].id %>">
				<input type="radio" name="item_type_id" id="<%= item_type[i].id %>" value="<%= item_type[i].id %>"/>
				<%= item_type[i].name %>
			</label>
		<% }%>
	</div>
	<hr>
	<!-- 模版 -->
	<div>
		<h4>选择模版配置：</h4>
		<div>
		<%for(var i=0; i<template.length; i++){%>
			<label for="<%= template[i].id %>">
				<input type="radio" name="template_id" id="<%= template[i].id %>" value="<%= template[i].id %>" />
				<%= template[i].name %>
			</label>
		<%}%>
		</div>
	</div>

	<hr>
	<div>
		<h4>创建位置</h4>
		<input type="text" name="filepath" id="path" value="" />
	</div>
	<div class="cbox">
		<d id="info"></p>
		<span class="btn" id="submint">创建项目</span>
	</div>

	<hr>
	<h4>项目仓库入口：</h4>
	<ul>
		<% for(var i=0; i<item_type.length; i++){%>
			<li>
				<em><%= item_type[i].name %> : </em><a href="<%= item_type[i].id %>"> <%= item_type[i].path %></a>
			</li>
		<% }%>
	</ul>
</form>

<div class="panel">
	<h4>文件上传：</h4>
	<p>
		<p>
			<em>post接口地址：</em> http://localhost:80/upload
		</p>
		<p>
			<a href="http://localhost:80/upload" target="_blank" class="btn">打开上传ui页面</a>
		</p>
		<p>
			<a class="tagbtn" target="_blank" href="<%= uploadFiles %>">browser</a>
			<span class="tagbtn" onclick="ideOpenItem('<%= uploadFiles %>')">IDE</span>
		</p>
	</p>
	<hr>

	<h4>mock入口：</h4>
	<p>
		<%= mockfiles %>
		<span class="tagbtn" onclick="ideOpenItem('<%= mockfiles %>')">IDE</span>
	</p>
</div>

<script>
	"use strict"

	$('#submint').click(function(){
		var serializeUrl = $("#form").serialize();
		let {item_type_id,filepath,template_id} = URLParams(serializeUrl)
		if(!item_type_id){alert('请选择项目仓库 ！') ;return}
		if(!template_id){alert('请选择模版 ！') ;return}
		if(!filepath){alert('请填写创建位置 ！') ;return}
		$('#info').html('')
		$.post('/api/creact_template_api', serializeUrl , (res) => {
			console.log(res)

			$('#info').html(
				res.state == 0 ? 
					`${res.msg}`
				:
					`
					${res.msg}
					<a class="tagbtn" target="_blank" href="${res.data.url}">browser</a>
					<span class="tagbtn" onclick="ideOpenItem('${res.data.itemPath}')">IDE</span>
					`
			)
		})
	})

	function ideOpenItem(url){
		if(!url){
			alert('路径不存在')
			return 
		}
		$.post('/shell/ide_open_item', {url} , (res) => {
			console.log(res)
		})
	}

	// function browserOpenItem(url){
	// 	if(!url){
	// 		alert('路径不存在')
	// 		return 
	// 	}
	// 	$.post('/shell/browser_open_item', {url} , (res) => {
	// 		console.log(res)
	// 	})
	// }
</script>
</body>
</html>
